* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 100%;
}

body {
    font-family: 'Hanken Grotesk', sans-serif;
    background-color: #FFFFFF;
    min-height: 100vh;
    display: grid;
    place-items: center;
}

p {
    color: #8D899F;
}

h2 {
    color: hsl(243, 87%, 12%);
}

main {
    width: 100%;
    box-sizing: border-box;
    background-color: #fff;
    background-image: url("images/bg-curve-mobile.svg");
    background-repeat: no-repeat;
    background-size: 100% 5rem;
    background-position-x: center;
    background-position-y: 64rem;
}

.productive {
    background-color: #F8F8FE;
}

header {
    padding: 2rem;
    display: flex;
    align-content: center;
    justify-content: space-between;
    margin-top: .5rem;
    width: 100%;
}

header img {
    width: 25%;
}

nav {
    display: flex;
    gap: 1rem;
}

nav a {
    text-decoration: none;
    font-size: 1rem;
}

nav a:hover {
    font-size: 1rem;
    color: hsl(224, 100%, 31%);
}

.get-started {
    min-height: 100vh;
    width: 100%;
    padding: 2rem;
}

.get-started-details, .productive {
    width: 100%;
    display: grid;
    margin-top: 4rem;
    padding: 1.5rem;
}

.get-started-details img, .productive img {
    width: 100%;
    margin-bottom: 2rem;
}

.get-started-detials-input, .productive {
    text-align: center;
    line-height: 2.8rem;
}

.get-started-detials-input p, .productive p {
    line-height: 1.7rem;
    margin-top: 1.5rem;
}

#email-two {
    max-width: 30rem;
}

input {
    width: 100%;
    padding: 1rem;
    margin-top: 1.5rem;
    border-radius: .3rem;
    box-shadow: 2px 5px 13px #e5e5e5;
    border: 1.5px #000 solid;
}

#submit {
    border: 0;
    color: #fff;    
    font-weight: 700;
    background-color: hsl(224, 93%, 58%);
}

#submit:hover {
    background-color: hsl(224, 100%, 31%);
}

span#emailError, span#second-emailError {
    font-size: .8rem;
    text-align: left;
    color: crimson;
    display: none;
}

.failed {
    display: block;
}

#email-error-one, #email-error-two, #email-error-one-mobile {
    color: crimson;
    font-family: Arial;
    font-weight: 600;
    font-size: .7rem;
    text-align: left;
    /* display: none; */
}

#email-error-two {
    margin-left: 2rem;
    margin-top: .3rem;
}

/* .errorMail:focus {
}

.successMail:focus {
    border: 3px solid limegreen;
    outline: none;
} */


span.second-emailError {
    text-align: center;
    color: hsl(0, 0%, 75%);
}

.productive p {
    text-align: left;
    margin-top: 1rem;
}

.margin {
    margin-bottom: 3rem;
}

.seee-how-fylo-works img {
    padding: 0;
    margin: 0;
    width: 2rem;
    height: 2rem;
}
.seee-how-fylo-works {
    justify-content: center;
    display: flex;
    align-content: center;
    gap: .5rem;
    border-bottom: 1px solid hsl(170, 45%, 43%);
    width: fit-content;
    padding: 0;
    margin: 0;
}

.seee-how-fylo-works:hover {
    border-bottom: 1px solid hsl(170, 44%, 76%);
}

.seee-how-fylo-works a {
    text-decoration: none;
    color: hsl(170, 45%, 43%);
    padding: 0;
    margin: 0;
}

.seee-how-fylo-works a:hover {
    color: hsl(170, 44%, 76%);
}

.kyle-review {
    border-radius: .2rem;
    box-shadow: rgba(38, 38, 61, 0.2) 0px 7px 29px 0px;
    /* box-shadow: 5px 5px 5px #e4f0ff; */
    padding: 1.5rem;
    margin: 1rem 0 1rem 0;
    margin-top: 3rem;
}

.kyle-review a {
    color: #000;
}

img.quotes {
    width: 1rem;
    margin: 0;
    padding: 0;
    display: grid;
    justify-items: left;
}

blockquote {
    text-align: left;
    line-height: 1.5rem;
    margin: 1rem 0 1rem 0;
    font-size: .9rem;
}

img.kyle-image {
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    margin: 0;
    padding: 0;
}

.kyle-profile a {
    text-decoration: none;
    font-size: .7rem;
}

.kyle-profile {
    display: flex;
    line-height: 1rem;
    gap: 1rem;
    text-align: left;
}

.access {
    background-color: hsl(238, 22%, 44%);
    padding: 3rem;
    text-align: center;
    display: flex;
    justify-content: space-between;
}

.access-explaination p {
    margin-top: 1.5rem;
    max-width: 30rem;
}

.access h2, .access p {
    color: #fff;
}

.access h2 {
    margin: 1.5rem;
    font-size: 1.3rem;
}

.access p {
    line-height: 1.5rem;
    font-size: .9rem;
    color: hsl(0, 0%, 75%);
}

.access input {
    box-shadow: none;
    margin: 1.5rem 1rem 0 1.5rem;
    width: 85%;
    border: 0;
}

.access #submit {
    margin-top: .5rem;
}

footer {
    background-color: hsl(243, 87%, 12%);
    padding: 3rem;
    display: grid;
    gap: 2rem;
}

footer a, footer p{
    color: #fff;
    text-decoration: none;
    margin-top: 1rem;
}
#email {
    margin-top: 1rem;
}
.contacts img {
    margin-right: 1rem;
}

.about-us, .contact-us {
    margin-top: 3.5rem;
    margin-bottom: 3.5rem;
    display: grid;
}

i {
    color: #fff;
    background-color: hsl(243, 87%, 12%);
    padding: .5rem;
    border: 1px solid #fff;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
}

.social-media {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.social-media a {
    height: 3rem;
    width: 4rem;
}
.attribution { 
    font-size: 11px; 
    text-align: center;
    margin-bottom: 2rem;
}

.attribution a { 
    color: hsl(228, 100%, 68%); 
}

.attribution a:hover {
    font-size: larger;
}

footer a:hover, footer i:hover {
    color: hsl(224, 93%, 58%);
}

footer i:hover {
    border: 1px solid hsl(224, 93%, 58%);
}



.popup-wrapper {
    background-color: rgba(0,0,0,0.7);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
}

.popup h2 {
    margin-bottom: 1rem;
}

.popup {
    font-family: arial;
    text-align: center;
    width: 100%;
    max-width: 300px;
    margin: 10% auto;
    padding: 20px;
    background-color: #fff;
    position: relative;
}

.popup a {
    background-color: #5F68D1;
    color: #fff;
    text-decoration: none;
    padding: 6px 10px;
    margin-top: 1rem;
    display: block;
}

a.back {
    background-color: crimson;
}

.popup-close {
    position: absolute;
    top: 5px;
    right: 8px;
    cursor: pointer;
}

@media screen and (min-width: 50rem) {

    .get-started-detials-input h1, .get-started-detials-input p {
        text-align: left;
    }

    h1, p, h2 {
        text-align: left;
    }
    .get-started-detials-input p {
        margin-top: .5rem;
        margin-bottom: 1rem;
    }

    .get-started-details, .productive {
        grid-template-columns: 55% 45%;
        gap: 1rem;
    }

    .stay-productive {
        padding: 2rem;
    }

    .get-started-detials-input, .stay-productive {
        grid-column-start: 1;
        grid-row-start: 1;
    }

    .get-started-detials-input img, .productive img {
        grid-column-start: 2;
    }


    #form-one input {
        margin: 0;
    }

    #form-one {
        display: flex;
        gap: .3rem;        
    }

    input#submit {
        flex-basis: 60%;
    }

    main {        
    background-image: url("images/bg-curve-desktop.svg");
    background-repeat: no-repeat;
    background-size: 90rem 15rem;
    background-position-x: center;
    background-position-y: 42rem;
    }

    .kyle-review {
        max-width: 20rem;
    }

    .access {
        display: grid;
        grid-template-columns: 50% 50%;
        gap: 3rem;
        text-align: left;
        margin: 0;
    }

    .access h2 {
        margin: 0;
    }

    .second-submit {
        max-width: 10rem;
    }

    .contacts {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }

    .other-footer {
        grid-column: 3 / 6;
    }

    .contact-container {
        grid-column: 1/3;
        margin-top: 1rem;
        display: grid;
        align-content: start;
        gap: 1rem;
    }

    .other-footer {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .about-us, .contact-us {
        grid-row: 1 / 2;
        margin-top: 0;
        padding: 0;
    }

    #email-error-one-mobile {
        display: none;
    }

}

@media screen and (max-width: 50rem) {
    #email-error-one {
        display: none;
    }
}